*{
    margin: 0;
    padding: 0;
}
@font-face{
  font-family:GE_SS_Two_Bold;
  src:url(GE_SS_Two_Bold.otf)
}

body{
    align-items: center;
}


table{
    position: relative;  
    left: 230px;
    top:320px;
    
  }
 
#viewTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  #viewTable td, #viewTable th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    font-family: GE_SS_Two_Bold;
  }
  
  #viewTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #viewTable tr:hover {background-color: #ddd;}
  
  #viewTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#29265b;
    color: white;
  }

  #f{
    text-align: center;  
  }
  input[type=submit]{
    border-radius:5px ;
    border: thin;
    text-align: center;
    width: 100px;
    height: 28px;
    margin: 10px;
    background-color:#29265b;
    font-size: 15px;
    font-size: 15px;
    position: relative;
    left: 100px;
    color:#fff;
  }
  
  .button1{
    position: fixed;
    top:220px;
    left: 240px;
    width: 200px;
    height: 40px;
    background-color:#29265b;
    color: white;
    border: thin;
  }
  .button1:hover{
    border: 1px solid;
    border-radius: 4px;
    border-color:#908f8e ;
    color:#29265b;
    background-color: #ffffff;
  }
 
  #actions{
    display: flex;
    text-align: center;
    color: #fff;
  }